In [13]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [14]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [15]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [22]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
session.query(Measurement.date, Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == "06").\
group_by(Measurement.date).\
order_by(Measurement.date).all()
print(june_results)

[('2010-06-01', 78.0), ('2010-06-02', 76.0), ('2010-06-03', 78.0), ('2010-06-04', 76.0), ('2010-06-05', 77.0), ('2010-06-06', 78.0), ('2010-06-07', 77.0), ('2010-06-08', 78.0), ('2010-06-09', 78.0), ('2010-06-10', 79.0), ('2010-06-11', 78.0), ('2010-06-12', 78.0), ('2010-06-13', 78.0), ('2010-06-14', 77.0), ('2010-06-15', 78.0), ('2010-06-16', 78.0), ('2010-06-17', 77.0), ('2010-06-18', 77.0), ('2010-06-19', 82.0), ('2010-06-20', 78.0), ('2010-06-21', 78.0), ('2010-06-22', 78.0), ('2010-06-23', 78.0), ('2010-06-24', 78.0), ('2010-06-25', 77.0), ('2010-06-26', 76.0), ('2010-06-27', 78.0), ('2010-06-28', 78.0), ('2010-06-29', 78.0), ('2010-06-30', 78.0), ('2011-06-01', 77.0), ('2011-06-02', 78.0), ('2011-06-03', 73.0), ('2011-06-04', 70.0), ('2011-06-05', 76.0), ('2011-06-06', 77.0), ('2011-06-07', 77.0), ('2011-06-08', 77.0), ('2011-06-09', 77.0), ('2011-06-10', 78.0), ('2011-06-11', 77.0), ('2011-06-12', 77.0), ('2011-06-13', 78.0), ('2011-06-14', 78.0), ('2011-06-15', 77.0), ('2011-06-16', 74.0), ('2011-06-17', 78.0), ('2011-06-18', 78.0), ('2011-06-19', 75.0), ('2011-06-20', 76.0), ('2011-06-21', 76.0), ('2011-06-22', 74.0), ('2011-06-23', 72.0), ('2011-06-24', 77.0), ('2011-06-25', 78.0), ('2011-06-26', 76.0), ('2011-06-27', 77.0), ('2011-06-28', 75.0), ('2011-06-29', 77.0), ('2011-06-30', 74.0), ('2012-06-01', 76.0), ('2012-06-02', 76.0), ('2012-06-03', 75.0), ('2012-06-04', 77.0), ('2012-06-05', 77.0), ('2012-06-06', 76.0), ('2012-06-07', 78.0), ('2012-06-08', 77.0), ('2012-06-09', 76.0), ('2012-06-10', 77.0), ('2012-06-11', 76.0), ('2012-06-12', 76.0), ('2012-06-13', 77.0), ('2012-06-14', 77.0), ('2012-06-15', 78.0), ('2012-06-16', 77.0), ('2012-06-17', 77.0), ('2012-06-18', 77.0), ('2012-06-19', 76.0), ('2012-06-20', 75.0), ('2012-06-21', 76.0), ('2012-06-22', 76.0), ('2012-06-23', 77.0), ('2012-06-24', 76.0), ('2012-06-25', 73.0), ('2012-06-26', 73.0), ('2012-06-27', 75.0), ('2012-06-28', 77.0), ('2012-06-29', 76.0), ('2012-06-30', 77.0), ('2013-06-01', 79.0), ('2013-06-02', 78.0), ('2013-06-03', 79.0), ('2013-06-04', 78.0), ('2013-06-05', 78.0), ('2013-06-06', 79.0), ('2013-06-07', 77.0), ('2013-06-08', 77.0), ('2013-06-09', 77.0), ('2013-06-10', 77.0), ('2013-06-11', 77.0), ('2013-06-12', 78.0), ('2013-06-13', 77.0), ('2013-06-14', 76.0), ('2013-06-15', 78.0), ('2013-06-16', 78.0), ('2013-06-17', 77.0), ('2013-06-18', 78.0), ('2013-06-19', 78.0), ('2013-06-20', 73.0), ('2013-06-21', 76.0), ('2013-06-22', 77.0), ('2013-06-23', 75.0), ('2013-06-24', 76.0), ('2013-06-25', 74.0), ('2013-06-26', 75.0), ('2013-06-27', 77.0), ('2013-06-28', 76.0), ('2013-06-29', 77.0), ('2013-06-30', 78.0), ('2014-06-01', 79.0), ('2014-06-02', 77.0), ('2014-06-03', 78.0), ('2014-06-04', 79.0), ('2014-06-05', 78.0), ('2014-06-06', 78.0), ('2014-06-07', 78.0), ('2014-06-08', 78.0), ('2014-06-09', 79.0), ('2014-06-10', 79.0), ('2014-06-11', 82.0), ('2014-06-12', 80.0), ('2014-06-13', 79.0), ('2014-06-14', 79.0), ('2014-06-15', 78.0), ('2014-06-16', 78.0), ('2014-06-17', 77.0), ('2014-06-18', 78.0), ('2014-06-19', 78.0), ('2014-06-20', 73.0), ('2014-06-21', 75.0), ('2014-06-22', 75.0), ('2014-06-23', 76.0), ('2014-06-24', 84.0), ('2014-06-25', 79.0), ('2014-06-26', 76.0), ('2014-06-27', 79.0), ('2014-06-28', 79.0), ('2014-06-29', 77.0), ('2014-06-30', 79.0), ('2015-06-01', 78.0), ('2015-06-02', 78.0), ('2015-06-03', 79.0), ('2015-06-04', 77.0), ('2015-06-05', 79.0), ('2015-06-06', 78.0), ('2015-06-07', 78.0), ('2015-06-08', 78.0), ('2015-06-09', 79.0), ('2015-06-10', 77.0), ('2015-06-11', 78.0), ('2015-06-12', 78.0), ('2015-06-13', 78.0), ('2015-06-14', 78.0), ('2015-06-15', 79.0), ('2015-06-16', 79.0), ('2015-06-17', 77.0), ('2015-06-18', 78.0), ('2015-06-19', 78.0), ('2015-06-20', 78.0), ('2015-06-21', 79.0), ('2015-06-22', 79.0), ('2015-06-23', 77.0), ('2015-06-24', 79.0), ('2015-06-25', 79.0), ('2015-06-26', 79.0), ('2015-06-27', 81.0), ('2015-06-28', 76.0), ('2015-06-29', 80.0), ('2015-06-30', 78.0), ('2016-06-01', 76.0), ('2016-06-02', 71.0), ('2016-06-03', 71.0), ('2016-06-04', 74.0), ('2016-06-05', 76.0), ('2016-06-06', 78.0), ('2016-06-07', 77.0), ('2016-06-08', 77.0), ('2016-06-09', 73.0), ('2016-06-10', 77.0), ('2016-06-11', 78.0), ('2016-06-12', 78.0), ('2016-06-13', 80.0), ('2016-06-14', 79.0), ('2016-06-15', 78.0), ('2016-06-16', 77.0), ('2016-06-17', 76.0), ('2016-06-18', 77.0), ('2016-06-19', 77.0), ('2016-06-20', 78.0), ('2016-06-21', 80.0), ('2016-06-22', 79.0), ('2016-06-23', 79.0), ('2016-06-24', 77.0), ('2016-06-25', 78.0), ('2016-06-26', 79.0), ('2016-06-27', 80.0), ('2016-06-28', 76.0), ('2016-06-29', 79.0), ('2016-06-30', 80.0), ('2017-06-01', 79.0), ('2017-06-02', 79.0), ('2017-06-03', 79.0), ('2017-06-04', 79.0), ('2017-06-05', 80.0), ('2017-06-06', 79.0), ('2017-06-07', 79.0), ('2017-06-08', 80.0), ('2017-06-09', 80.0), ('2017-06-10', 77.0), ('2017-06-11', 79.0), ('2017-06-12', 83.0), ('2017-06-13', 80.0), ('2017-06-14', 80.0), ('2017-06-15', 78.0), ('2017-06-16', 79.0), ('2017-06-17', 80.0), ('2017-06-18', 77.0), ('2017-06-19', 80.0), ('2017-06-20', 78.0), ('2017-06-21', 79.0), ('2017-06-22', 80.0), ('2017-06-23', 78.0), ('2017-06-24', 80.0), ('2017-06-25', 80.0), ('2017-06-26', 81.0), ('2017-06-27', 80.0), ('2017-06-28', 79.0), ('2017-06-29', 79.0), ('2017-06-30', 75.0)]

In [28]:
#  3. Convert the June temperatures to a list.
june_temps = session.query(Measurement.date, Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == "06").all()

In [29]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temps, columns=['date','temperature'])
june_df

            date  temperature
0     2010-06-01         78.0
1     2010-06-02         76.0
2     2010-06-03         78.0
3     2010-06-04         76.0
4     2010-06-05         77.0
...          ...          ...
1695  2017-06-26         79.0
1696  2017-06-27         74.0
1697  2017-06-28         74.0
1698  2017-06-29         76.0
1699  2017-06-30         75.0

[1700 rows x 2 columns]

In [30]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.